.set-card{
    margin-top: -150px;
    width:50% !important;
    background-color: rgba($color: #f1eeee, $alpha: 1.0);
    border-color: rgb(104, 26, 26);
    border-width: 2px;
    a{
      text-decoration: none;
      color: black;  
    }
    a:hover{
      color:purple !important;
      .inner-set-card{
          border-color: purple;
          border-width: thin;
      }  
    }
}
.home-top{
    background-color: purple;
}
.inner-set-card{
    height: fit-content;
    border-color: black;
    border-width: thin;
}

